<h1>Listing post_comments</h1>

<table>
  <tr>
    <th>Content</th>
    <th>Post</th>
    <th>User</th>
    <th></th>
    <th></th>
    <th></th>
  </tr>

<% @post_comments.each do |post_comment| %>
  <tr>
    <td><%= post_comment.content %></td>
    <td><%= post_comment.post %></td>
    <td><%= post_comment.user %></td>
    <td><%= link_to 'Show', post_comment %></td>
    <td><%= link_to 'Edit', edit_post_comment_path(post_comment) %></td>
    <td><%= link_to 'Destroy', post_comment, method: :delete, data: { confirm: 'Are you sure?' } %></td>
  </tr>
<% end %>
</table>

<br />

<%= link_to 'New Post comment', new_post_comment_path %>
