<p id="notice"><%= notice %></p>

<p>
  <b>Content:</b>
  <%= @post_comment.content %>
</p>

<p>
  <b>Post:</b>
  <%= @post_comment.post %>
</p>

<p>
  <b>User:</b>
  <%= @post_comment.user %>
</p>


<%= link_to 'Edit', edit_post_comment_path(@post_comment) %> |
<%= link_to 'Back', post_comments_path %>
