<br>
<%= simple_form_for @user do |f|%>
<div class="row-fluid">
  <div class="span2">
    <%= image_tag user_picture(current_user, "200x200"), class: 'img-polaroid' %>
  </div>
  <div class="span10"> 
    <h2><%= f.input :name, input_html: {class: "input-xlarge"}, label: false %></h2>
    <h2><%= f.input :lastname, input_html: {class: "input-xlarge"}, label: false %></h2>

    <%= f.file_field :profile_picture %>
    <%= f.hidden_field :retained_profile_picture %>
    <%= f.check_box :remove_profile_picture %>

  </div>

</div>
<div class="row-fluid">
  <br>
  <h4>Sexo: </h4><%= f.input :sex, input_html: {class: 'input-xlarge'}, label: false %>
<h4>Fecha de Nacimiento: </h4><%= f.input :born_date, input_html: {class: 'input-xlarge'}, label: false %>
  <br><br>
  <%= f.submit 'Guardar', class: 'btn' %>
</div><!--/row-->
<% end %>
<hr>
