<div class="hero-unit">
  <h1>UM BooK, Red Social</h1>
</div>
<h3>Resultados para la Busqueda</h3><br>
<div class="row-fluid">
  <% @users.each do |user| %>
    <div class="row-fluid">
      <div class="span1"> 
      </div>
      <div class="span1">
        <%= image_tag user_picture(user, "60x60"), class: 'img-rounded' %>
      </div>
      <div class="span5"> 
        <%= full_name user, true %>
      </div>
      <div class="span5"> 
        <% if !current_user.friend_of? user %>
          <% if current_user.invite_pending? user %>
            <% if current_user.invite_to? user %>
              Esperando confirmacion
            <% else %>
              <%= simple_form_for :friendship, url: '/friendships/' + current_user.friendship_id(user).to_s, method: 'put' do |f| %>
                <%= f.input :friendship_id, as: :hidden, input_html: {value: current_user.friendship_id(user) } %>
                <%= f.submit 'Aceptar amistad', class: 'btn' %>
              <% end %>
            <% end %>
          <% else %>
            <%= simple_form_for :friendship, url: friendships_path do |f| %>
              <%= f.input :user2_id, as: :hidden, input_html: {value: user.id} %>
              <%= f.submit 'Agregar a mis amigos', class: 'btn' %>
            <% end %>
          <% end %>
        <% end %>
      </div>
    </div>  
    <br>
  <% end %>
</div><!--/row-->
<hr>
