<br>
<div class="row-fluid">
  <div class="span2">
    <%= image_tag user_picture(@user,"200x200"), class: 'img-polaroid' %>
  </div>
  <div class="span10"> 
    <h2><%= full_name @user %></h2> 
    <br>
    <% if !current_user.friend_of? @user %>
      <% if current_user.invite_pending? @user %>
        <% if current_user.invite_to? @user %>
          Esperando confirmacion
        <% else %>
          <%= simple_form_for :friendship, url: '/friendships/' + current_user.friendship_id(@user).to_s, method: 'put' do |f| %>
            <%= f.input :friendship_id, as: :hidden, input_html: {value: current_user.friendship_id(@user) } %>
            <%= f.submit 'Aceptar amistad', class: 'btn' %>
          <% end %>
        <% end %>
      <% else %>
        <%= simple_form_for :friendship, url: friendships_path do |f| %>
          <%= f.input :user2_id, as: :hidden, input_html: {value: @user.id} %>
          <%= f.submit 'Agregar a mis amigos', class: 'btn' %>
        <% end %>
      <% end %>
    <% end %>
  </div>
</div>
<div class="notice"><%= notice %></div>
<% if can?(:create, Post) and current_user.friend_of?(@user) %>
  <div class="row-fluid">
    <br>
    <p><img src="/assets/umbook_paper.png" class="img-rounded" height="20" width="20"> Escribir a <%= full_name @user %><p/>
    <p>
    <%= simple_form_for :post, url: posts_path do |f| %>
      <%= f.input :content, as: :text, label: false, input_html: {class: 'post_text_area field span12', rows: '1', placeholder: '¿Qué estás pensando?'} %>
      <%= f.input :to_user_id, as: :hidden, input_html: {value: @user.id} %>
      <%= f.submit 'Postear', class: 'btn' %>
    <% end %>
    </p>
    <br>
  </div><!--/row-->
<% end %>
<% @user.posts.each do |post| %>
  <% if can? :read, post %>
    <div class="row-fluid">
      <div class="row-fluid">
        <div class="span1">
          <%= image_tag user_picture(post.from_user,"50x50"), class: 'img-rounded' %>
        </div>
        <div class="span11">
          <% if post.from_user == post.to_user %>
            <%= full_name post.from_user, true %> Dice:<br />
          <% else %>
            <%= full_name post.from_user, true %> >> <%= full_name post.to_user, true %><br />
          <% end %>
          <%= post.content %>
        </div>
      </div>
      <br>
      <div class="row-fluid">
        <div class="span1"></div>
        <div class="span11">
          <%= simple_form_for :post_comment, url: post_comments_path do |f| %>
            <%= f.input :content, as: :text, label: false, input_html: {class: 'post_comment_text_area', rows: '3', placeholder: 'Escribe un comentario'} %>
            <%= f.input :post_id, as: :hidden, input_html: {value: post.id} %>
            <%= f.submit 'Comentar', class: 'btn' %>
          <% end %>
        </div>
      </div>
      <% post.post_comments.order("updated_at DESC").each do |post_comment| %> 
        <% if can? :read, post_comment %>
          <div class="row-fluid">
            <div class="span1">
            </div>
            <div class="span11">
              <div class="span12">
                <div class="span1">
                  <%= image_tag user_picture(post_comment.user,"30x30"), class: 'img-rounded' %>
                </div>
                <div class="span11">
                  <%= full_name post_comment.user %> Dice:<br />
                  <%= post_comment.content %>
                </div>
              </div>
            </div>
          </div><!--/span-->
          <br>
        <% end %>
      <% end %>
    </div><!--/row-->
    <hr>
  <% end %>
<% end %>
