<div class="hero-unit">
  <h1>UM BooK, Red Social</h1>
</div>
<div class="row-fluid">
  <div class="notice"><%= notice %></div>
  <p><img src="/assets/umbook_paper.png" class="img-rounded" height="20" width="20"> Actualizar mi Estado <img src="/assets/umbook_album.png" class="img-rounded" height="20" width="20"> <%= link_to "Agregar un Album", new_album_path %> <p/>
  <p>
  <% if can? :create, Post %>
    <%= simple_form_for :post, url: posts_path do |f| %>
      <%= f.input :content, as: :text, label: false, input_html: {class: 'post_text_area field span12', rows: '1', placeholder: '¿Qué estás pensando?'} %>
      <%= f.input :to_user_id, as: :hidden, input_html: {value: current_user.id} %>
      <%= f.submit 'Postear', class: 'btn' %>
    <% end %>
  <% end %>
  </p>
  <br>
</div><!--/row-->
<% current_user.all_posts.each do |post| %>
  <% if can? :read, post %>
    <div class="row-fluid">
      <div class="row-fluid">
        <div class="span1">
          <%= image_tag user_picture(post.from_user,"50x50"), class: 'img-rounded' %>
        </div>
        <div class="span11">
          <% if post.from_user == post.to_user %>
            <%= full_name post.from_user, true %> Dice:<br />
          <% else %>
            <%= full_name post.from_user, true %> >> <%= full_name post.to_user, true %><br />
          <% end %>
          <%= post.content %>
        </div>
      </div>
      <br>
      <% if can? :create, PostComment %>
        <div class="row-fluid">
          <div class="span1">
          </div>
          <div class="span11">
            <%= simple_form_for :post_comment, url: post_comments_path do |f| %>
              <%= f.input :content, as: :text, label: false, input_html: {class: 'post_comment_text_area', rows: '3', placeholder: 'Escribe un comentario'} %>
              <%= f.input :post_id, as: :hidden, input_html: {value: post.id} %>
              <%= f.submit 'Comentar', class: 'btn' %>
            <% end %>
          </div>
        </div>
      <% end %>
      <% post.post_comments.order("updated_at DESC").each do |post_comment| %> 
        <% if can? :read, post_comment %>
          <div class="row-fluid">
            <div class="span1">
            </div>
            <div class="span11">
              <div class="span12">
                <div class="span1">
                  <%= image_tag user_picture(post_comment.user,"30x30"), class: 'img-rounded' %>
                </div>
                <div class="span11">
                  <% if post.from_user == post.to_user %>
                    <%= full_name post.from_user, true %> Dice:<br />
                  <% else %>
                    <%= full_name post.from_user, true %> >> <%= full_name post.to_user, true %><br />
                  <% end %>
                  <%= post_comment.content %>
                </div>
              </div>
            </div>
          </div><!--/span-->
          <br>
        <% end %>
      <% end %>
    </div><!--/row-->
  <% end %>
<% end %>
<div id="post-message"></div>
