<br>
<div class="row-fluid">
  <div class="span2">
    <%= image_tag user_picture(@album.user, "200x200"), class: 'img-polaroid' %>
  </div>
  <div class="span10"> 
    <h2><%= full_name @album.user %></h2> 
    <br>
  </div>
</div>
<div class="row-fluid">
  <br>
  <h3>Album: <%= @album.name %></h3>
  <h4>Descripcion: <%= @album.description %></h4>
  <%= link_to 'Editar Album', edit_album_path(@album), class: 'btn' if can? :update, @album %>
  <%= link_to 'Subir fotos', new_photo_path(album: @album.id), class: 'btn' if can?(:create, Photo) and @album.user == current_user %>
</div><!--/row-->
<hr>
<p>
<button id="start-slideshow" class="btn btn-large btn-success" data-slideshow="5000" data-target="#modal-gallery" data-selector="#gallery [data-gallery=gallery]">Iniciar presentacion</button>
</p>
<div id="gallery" data-toggle="modal-gallery" data-target="#modal-gallery">
  <% @album.photos.each do |photo| %>
    <% if can? :read, photo %>
      <% if photo.image %>
        <%= link_to(image_tag(photo.image.thumb("100x100").url), photo.image.url, title: photo.description, data: {gallery: 'gallery'}) %>
      <% end %>
    <% end %>
  <% end %>
</div>
<!-- modal-gallery is the modal dialog used for the image gallery -->
<div id="modal-gallery" class="modal modal-gallery hide fade" tabindex="-1">
  <div class="modal-header">
    <a class="close" data-dismiss="modal">&times;</a>
    <h3 class="modal-title"></h3>
  </div>
  <div class="modal-body"><div class="modal-image"></div></div>
  <div class="modal-footer">
    <a class="btn modal-download" target="_blank">
      <i class="icon-download"></i>
      <span>Download</span>
    </a>
    <a class="btn btn-success modal-play modal-slideshow" data-slideshow="5000">
      <i class="icon-play icon-white"></i>
      <span>Slideshow</span>
    </a>
    <a class="btn btn-info modal-prev">
      <i class="icon-arrow-left icon-white"></i>
      <span>Previous</span>
    </a>
    <a class="btn btn-primary modal-next">
      <span>Next</span>
      <i class="icon-arrow-right icon-white"></i>
    </a>
  </div>
</div>

<br />
