<div class="container-fluid">
  <div class="row-fluid">
    <div class="span1">
    </div><!--/span-->
    <div class="span10">
      <div class="row-fluid">
        <div class="span7">
          <h3>UMBook te ayuda a comunicarte y a compartir con tus amigos.<h3>
              <img src="/assets/umbook_happy_people.jpg" class="img-rounded" height="450" width="600">
            </div>
            <div class="span5">
              <h2>Registrarme</h2>
              <%= simple_form_for(resource, :as => resource_name, :url => registration_path(resource_name)) do |f| %>
                <%= f.error_notification %>
                <div class="form-inputs">
                  <%= f.input :name, input_html: { placeholder: 'Nombre', class: 'input-block-level' }, autofocus: true, label: false %>
                  <%= f.input :lastname, input_html: { placeholder: 'Apellido', class: 'input-block-level' } , label: false %>
                  <%= f.input :email, :required => true, input_html: {class: 'input-block-level', placeholder: 'Email'} , label: false %>
                  <%= f.input :password, :required => true, input_html: {class: 'input-block-level', placeholder: 'Clave'} , label: false %>
                  <%= f.input :password_confirmation, :required => true, input_html: {class: 'input-block-level', placeholder: 'Confirmacion de Clave'} , label: false %>
                  Femenino: <%= f.input :sex, input_html: {class: 'input-block-level'} , label: false %>
                <%= f.input :born_date, input_html: {class: 'input-block-level', placeholder: 'Fecha de Nacimiento'} , label: false %>
                <%= f.submit "Registrarme en UMBook", class: 'btn btn-success input-block-level' %>
              </div>
            <% end %>
          </div>
        </div>
      </div>
  </div>
</div>
