<%= form_for(@photo, html: { multipart: true }) do |f| %>
  <% if @photo.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@photo.errors.count, "error") %> prohibited this photo from being saved:</h2>

      <ul>
      <% @photo.errors.full_messages.each do |msg| %>
        <li><%= msg %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= f.label :description %><br />
    <%= f.text_field :description %>
  </div>
  <div class="field">
    <%= f.hidden_field :album_id, value: params[:album] %>
  </div>
    <%= f.file_field :image %>
    <%= f.hidden_field :retained_image %>
    <%= f.check_box :remove_image %>
    <%= image_tag @photo.image.thumb('100x100').url if @photo.image_uid %>

  <div class="actions">
    <%= f.submit %>
  </div>
<% end %>
