<p id="notice"><%= notice %></p>

<p>
  <b>Description:</b>
  <%= @photo.description %>
</p>

<p>
  <b>Album:</b>
  <%= @photo.album %>
</p>
<%= image_tag @photo.image.url %>
<%= image_tag @photo.image.thumb('400x200#').url %>
<%= image_tag @photo.image.jpg.url %>
<%= image_tag @photo.image.process(:greyscale).encode(:tiff).url %>

<%= link_to 'Edit', edit_photo_path(@photo) %> |
<%= link_to 'Back', photos_path %>
