<p id="notice"><%= notice %></p>

<p>
  <b>Content:</b>
  <%= @post.content %>
</p>

<p>
  <b>From user:</b>
  <%= @post.from_user_id %>
</p>

<p>
  <b>To user:</b>
  <%= @post.to_user_id %>
</p>


<%= link_to 'Edit', edit_post_path(@post) %> |
<%= link_to 'Back', posts_path %>
