<!DOCTYPE html>
<html>
  <head>
    <title>UMBook</title>
    <%= stylesheet_link_tag    "application", :media => "all" %>
    <%= javascript_include_tag "application" %>
    <%= csrf_meta_tags %>
  </head>
  <body>
    <div class="navbar navbar-static-top navbar-inverse">
      <div class="navbar-inner">
        <a class="brand" href="#"><img style="width: 30px;height: 30px;" src="/assets/gubu.svg" />UMBook</a>
        <%= form_for("user", :url => user_session_path, html: {class: 'navbar-form pull-right'}) do |f| %>
          <%= f.text_field :email, placeholder: 'Email' %>
          <%= f.password_field :password, placeholder: 'Password' %>
          <%= f.submit 'Entrar' %>
          <br />
          <%= f.check_box :remember_me %> No cerrar sesi&oacute;n
          <%# link_to "¿Olvidaste la contraseña?", new_password_path('user') %>
        <% end %>
      </div>
    </div>
    <%= yield %>
  </body>
</html>
